/*
    zeratul
    https://github.com/zeratul0/cytube-lightsout-theme
    v0.39
    updated 9/16/17 3:42 AM
*/

.lightsoutbtn.label-lightsout {
    background-color: #2a1f56;
}

body {
    background-color: #000;
}

.alert-info {
    background-color: #032e42;
    border-color: #70a6fd;
    text-shadow: 0 1px #000;
    color: #fff;
    box-shadow: 0 4px 12px -3px #017cc3;
}

#usercount {
    color: #999!important;
}

#afkCount {
    top: 2px!important;
}

#afkCount .activeusercount {
    color: #808080!important;
}

#afkCount .afkusercount {
    color: #666!important;
}

#messagebuffer, #userlist {
    background-color: #111!important;
    border-bottom: none!important;
}

::-webkit-scrollbar {
    background-color: #111!important;
}

.well {
    background-color: #222!important;
}

body .navbar {
    border: 0;
    border-bottom: 1px solid black;
    background-image: none!important;
    background: rgba(17,17,17,.8);
}

#chatwrap #chatline, #messagebuffer, #userlist {
    border: 0;
    border-top: 1px solid black;
    border-color: black!important;
}

#messagebuffer {
    border-right: 1px solid black;
}

#chatwrap #chatline {
    box-shadow: none!important;
    border-radius: 0;
    border: 1px solid black!important;
    border-left: 0!important;
    border-right: 0!important;
}

.form-control:focus {
    box-shadow: 0 0 10px -2px #6ba4ff inset!important;
    border-color: #3e5f94!important;
}

.input-group-addon {
    background: #333;
    background-image: none!important;
    border-color: black!important;
}

.btn-default, .ChatOptions .btn {
    color: #ddd;
    background-image: none!important;
    border-color: black!important;
    background-color: #222!important;
}

.btn-default.active, .ChatOptions .btn:active, .ChatOptions .btn:focus, .ChatOptions .btn:hover, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #fff!important;
    background-color: #333!important;
    border-color: rgba(0,0,0,.6)!important;
}

#voteskip.btn.btn-sm.btn-default:hover, .pm-buffer.linewrap {
    background-color:#222!important;

}

.panel-default>.panel-heading {
    background-color: #333!important;
}

.dropdown-menu {
    background-color: #1a1a1a!important;
    text-shadow: 0 1px black!important;
}

input.form-control[type="text"], input.form-control[type="password"], input.form-control[type="email"], textarea.form-control, #footer {
    background-color: #161616!important;
}

.form-control {
    border-color: #111!important;
}

.queue_entry {
    background-color: #161616!important;
    border: 0;
    border-bottom: 1px solid black;
}

div#plmeta, ul#queue {
    background-color: rgba(22, 22, 22, 0.7)!important;
}

#plmeta {
    border: 1px solid black;
    border-top: 0;
}

#chatheader, #videowrap-header {
    border: 0;
}

.queue_active.queue_temp {
    background-color: #444!important;
}

#resize-video-larger, #resize-video-smaller {
    color: #444!important;
}

#resize-video-larger:hover, #resize-video-smaller:hover {
    color: #777!important;
}

#chatwrap {
    background: none!important;
}

.userlist_item {
    line-height: 16px;
    font-size:9pt;
}

.userlist_item:hover {
    background-color: #371c50;
}

#userlist .nick-highlight {
    background-color: rgba(94, 52, 142, 0.6);
}

#colorFilters button {
    background-color: #1d1d1d!important;
    border-radius: 0;
    border: 0;
    border-right: 1px solid black;
    background-image: none!important;
    margin: 0;   
}

.timestamp {
    color: #444;
}

.qe_blame {
    color: #bbb;
    font-weight: normal;
    font-size: 8pt;
}

#motdwrap {
    background-color: #0a0a0a!important;
    border: 0;
    border-radius: 0;
}

.nav-tabs {
    border-bottom: 1px solid black;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #111;
    border: 1px solid black;
    border-bottom-color: transparent;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #111;
    border-color: black;
}

.navbar-nav>li>a:hover {
    background-image: -webkit-linear-gradient(#020202,#111 40%,#191919);
    background-image: -o-linear-gradient(#020202,#111 40%,#191919);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#020202),color-stop(40%,#111),to(#191919));
    background-image: linear-gradient(#020202,#111 40%,#191919);
    border-left-color: black;
}

.modal-content {
    background: #0a0a0a;
    border-color: black;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #222;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #111;
    border-color: black;
    color: #fff;
}

.navbar-nav>li>a {
    border-left: 1px solid black;
    border-right: 0;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu .divider {
    background-color: black;
}

.modal-header, .modal-footer { border-color: black!important; }
#messagebuffer .nick-highlight {
    background-color: rgba(234, 78, 128, 0.35);
}
#messagebuffer .nick-hover {
    background-color: rgba(105, 181, 255, .25);
}

#leftcontrols .btn, #rightcontrols .btn, .well .option .btn, .queue_entry .btn {
    border: 1px solid black;
}

#leftpane .well {
    border: 1px solid #0d0d0d!important;
}
